@media screen and (min-width: 750px) {
    
    #nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid #33333355;
    }
    #nav-list li{
        border-bottom: none;
    }
    
}