
#main-title {
    text-align: center;
    padding: 2% 0;
    margin: 2% 0;
    background-color: #00000022;
}

#photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 5%; */
    margin: 5%;
}

.photo-card {
    /* border: 2px solid #333333; */
    overflow: hidden;
    border-radius: 4px;
    margin:2vw;
}

/* .card-img-container {
    object-fit: cover;
} */

.card-img-container img {
    object-fit: cover;
    height: 20vw;
    min-height: 200px;
    width: 100%;
}

@media screen and (min-width: 650px) {
    
    #main-title h1 {
        font-size: 3rem;
    }

    #photo-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* gap: 5%; */
        margin: 5%;
    }
    
    .photo-card {

        filter:brightness(85%);
    }

    .photo-card:hover {
        box-shadow: 0 0 10px #000000;
        filter:brightness(100%);
    }
    
    
}
@media screen and (min-width: 1050px) {
    
    #main-title h1 {
        font-size: 4rem;
    }

    #photo-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        /* gap: 5%; */
        margin: 5%;
    }
    .photo-card {

        filter:brightness(85%);
    }

    .photo-card:hover {
        box-shadow: 0 0 10px #000000;
        filter:brightness(100%);
    }
    
    
}