* {
    padding: 0;
    margin: 0;
    /* background-color: ; */
}

body {
    display:grid;
    grid-template-rows:auto 1fr auto;
    min-height:99.99vh;
    /* padding: 0 5%; */
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #33333355;
}

#site-title {
    color: #333333;
}

#portal-link-container {
    background-color: rgb(50, 103, 147);
    padding: 5px 20px;
    border-radius: 20px;
}

#portal-link-container:hover {
    background-color: steelblue;
}

#portal-link-container a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 8vw;
}
h2 {
    font-size: 7vw;
}

#heading-container {
    /* padding: 50hv 0; */
    padding: 5% 0 6% 0;
    text-align: center;
}
#sub-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sub-heading-container span {
    display: none;
}


#card-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding:20px;
    gap: 50px;
    max-width: 500px;
    margin: 0 auto;
}

.design-card {
    display: flex;
    flex-direction: column;   
    text-align: center;
    width: 100%;
    /* background-color: #000; */
    /* border: 2px solid #33333355; */
    border-radius: 5px;
    box-shadow: 5px 5px 10px #33333388;
}

.design-card h3 {
    border-radius: 5px 5px 0 0;
    font-size: 6.5vw;
}

.design-card .img-container {
    width: 95%;
    margin: 0 auto;
    /* border: 2px solid #33333333; */
    background-color: #000;
}

.design-card img{
    width: 100%;
}

.design-card img:hover {
    opacity: 95%
}

.design-card h4 {
    font-size: 1.5em;
    margin-top: 15px;
}

.design-card h4 a {
    text-decoration: none;
}

#samsung-card h4 {
    font-family: arial, sans-serif;
    color: black;
}

#chase-card h4 {
    color: #126bc5;;
}

#time-card h4 {
    font-family: serif;
    color: #e90606;
}

.design-card .card-text {
    background-color: #000;
    color: white;
    padding: 10px 20px 15px 20px;
    /* border-radius: 5px; */
    /* margin: 5px; */
}


.design-card p.card-text {
    /* font-weight: bold; */
    border-radius: 0 0 5px 5px;
    color: black;
    background-color: #fff;
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000; */
    height: 150px;
    margin-top: 100px;
}

#footer-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-content: center;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #33333388;
}