@media screen and (min-width: 650px) {
    
    h1 {
        font-size: 6.5vw;
    }
    h2 {
        font-size: 5.25vw;
    }

    #card-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
    }
    
    #sub-heading-container {
        display: flex;
        flex-direction: row;
    }
    
    #sub-heading-container span {
        display: inline;
    }
    
    .design-card h3 {
        font-size: 2.5vw;
    }

}