body {
    min-width: 250px;
}

main {
    background-color: #f1f1f1;
}

#form-container {
    padding: 5%;
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;  
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > input, textarea, select {
    border: 1px solid #333333;
}

#form-content { 
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 20px;
    /* padding: 5%; */
    /* padding: 5%; */
    /* padding-bottom: 0; */
    margin-top: 5%;

}

form input:required {
    border-left: red solid 6px;
}

form input:required:valid {
    border-left: green solid 6px;
}

input {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.required {
    font-weight: bold;
    color: #e70404;
    margin: 0 5px;
}

#radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 15px;
}

#bdescription {
    min-height: 200px;
    padding: 5px;
}

.mem-description {
    margin: 0 auto;
}
.mem-description {
    width: 250px;
    margin-bottom: 30px;
    border: 2px solid #333333;
    filter: saturate(0);
}

.mem-description ul {
    padding: 0 10px 0 30px;
    text-align: left;
}

#submit {
    display: block;
    margin: 0 auto;
    min-width: 200px;
}

#one-description .heading{
    background-color: #a9dfbe;
}

#two-description .heading{
    background-color: #dbbb8f;
}

#three-description .heading{
    background-color: rgb(190, 202, 209);
}

#four-description .heading{
    background-color: rgb(255, 221, 26);
}

.selected-radio {
    background-color: #484848;
    box-shadow: 0px 0px 10px #333333;
    filter: saturate(100%);
}

.selected-radio ul li{
    color: white;
    font-weight: bold;
}

@media screen and (min-width: 850px) {
    #form-content {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
