@media screen and (min-width: 650px) {
    #hamburger-btn {
        /* font-size: 2.5em; */
        /* width: 50px; */
        /* padding: 5px 10px; */
        /* max-height: 50px; */
        align-self:stretch;
        justify-self:stretch;
    }
    
    #current-date {
        grid-column: 2/3;
    }

    #main-content-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    }

    #hero-container {
        grid-column: 1/3;
        grid-row: 1/2;
        /* background-image: url("../images/rocks-medium-text.jpg"); */
    }
    
    picture img {
        height: 800px;
    }

    #news-container {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #spotlight-container {
        flex-direction: row;
        grid-column: 1/3;
        grid-row: 3/4;
        justify-content: center;
        gap: 20px;
    }
    #spotlight-container div{
        width: 100%;
    }

    #join-container {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #event-container {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #weather-container {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    #footer-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

}